@import './variables';

@mixin sr-only {
    position: absolute;
    margin: -1px;
    border: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: polygon(0 0, 0 0, 0 0);
    padding: 0;
    white-space: nowrap;
}

@mixin font-default {
    line-height: 1.25rem;
    font-family: Roboto, "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: $text-colour;
}
