//------------------------------------------------
// Responsive break points
$break-large: 1200px;
$break-tablet-landscape: 1024px;
$break-tablet-portrait: 768px;

//------------------------------------------------
// Dimensions

//
//------------------------------------------------
//  Colour palette
$black-00: #000;

$white-00: #fff;
$white-01: #ddd;

//-----------------------
// Colour usage
// Primary colours

// Interface
$colour-border: $white-01;

//_________________
// General
$app-bg-colour: $white-00;
$text-colour: $black-00;
$text-inverted-colour: $white-00;
