@import './normalise';
@import './reset';
@import './fonts';
@import './variables';
@import './utils';
@import './mixins';

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: $app-bg-colour;

    @include font-default;
}

.app {
    margin: 1rem 2rem;

    @media screen and (min-width: calc(#{$break-large} + 64px)) {
        margin: 1rem auto;
        max-width: $break-large;
    }
}

.title {
    &--1 {
        margin: 1rem auto 2rem;
        font-size: 2rem;
        font-weight: 700;
    }
}
