@import './normalise';
@import './reset';
@import './fonts';
@import './variables';
@import './utils';
@import './mixins';

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: $app-bg-colour;

    @include font-default;
}

.app {
    // only used as an additional class to override Material-UI definitions
}

.title {
    &--1 {
        font-size: 2rem;
        font-weight: 700;
    }
}
