@import './normalise';
@import './reset';
@import './fonts';
@import './variables';
@import './utils';
@import './mixins';

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: $app-bg-colour;

    @include font-default;
}
