@import '../../styles/variables';

.app {
    .course {
        display: flex;
        align-items: flex-start;
        border-bottom: 1px solid $colour-border;
        padding: 1rem 0;

        &:last-child {
            border: 0;
        }

        &__data {
            display: grid;
            grid-template-columns: 8rem 1fr;
        }

        &__data-type {
            font-style: italic;
            font-size: 0.875rem;
        }

        &__content {
            &--title {
                margin-bottom: 0.5rem;
                font-size: 1.5rem;
                font-weight: 700;
            }

            &--description {
                margin-bottom: 1rem;
            }
        }

        &__illustration {
            margin-right: 1rem;
            width: 4rem;
        }

        &__button {
            position: absolute;
            right: 0;
            bottom: 1rem;
        }
    }
}
